@mixin center {
	display: flex;
	justify-content:center;
	align-items: center;
}

@mixin content($justify, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: center;
	flex-flow: $direction wrap;
}

@mixin grid($direction, $gap) {
	display: grid;
	grid-auto-flow: $direction;
	gap: $gap;
	align-items: center;
}

@mixin grid12 {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-auto-rows: auto;
	align-items: center;
}

@mixin grid12row2 {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: 30% 60vh;
	align-items: center;
}

@mixin media {
	@media screen and (min-width: 768px) {
		@content
	}
}