@import './config/config';

.header {
	background-image:linear-gradient(45deg, #ea7626, #753bbd), url('../images/carrot.jpg');
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: color;

	min-height: 20rem;

	h1 {
		color: color('light-text');
	}
}

.about_content {
	padding: 4rem 0;

	.content {
		margin: 0 auto;
		padding: 1.5rem 0;
		max-width: 900px;
	}
}

.list {
	@include grid(row, 3rem);

	@include media {
		@include content(space-between, row);
	}

	.list_item {
		@include grid(row, 0.8rem);
		@include media {
			@include content(space-between, row);
		}

		.list_item__no {
			@include center;

			justify-self: flex-start;

			width: 4rem;
			height: 4rem;

			margin: auto;
			padding: 0;

			color: color('light-text');
			background-color: color('neutral');

			border-radius: 50%;
		}
	}
}