
@import './config/config';

// Details section styles
.details_header {
	@include grid(row, 2rem);

	.details_avatar {

		border: 1px solid lighten($color: #777777, $amount: 25);
		border-radius: 50%;

		overflow: hidden;
	}
}

.details_details {
	@include grid(row, 1rem);
}

.details_connections {
	padding-top: 4rem;
}