@import './config/config';

.contact_form {
  @include media {
    max-width: 900px;
    margin: 0 auto;
  }

  .form_control {
    border-bottom-color: currentColor;
  }
}
.search_form {
  padding: 0.8rem;

  width: 100%;
  height: 100%;


  label {
    width: 100%;
  }

  &:focus-within {
    .connect_submit {
      color: color('focus')
    }
    .search_bar {
      border-bottom-color: color('focus')
    }
  }
}

.search_bar {
  display: grid;
  grid-template-columns: 85% 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-self: flex-start;

  width: 100%;
  border: 1px solid transparent;
  border-bottom-color: color('neutral');

  transition: border-color 0.35s ease-out;
}

.connect_submit {
  width: 100%;
  height: 100%;

  color: color('neutral');
  background-color: transparent;
  border: 1px solid transparent;

  transition: color 0.35s ease-out;
}

.form_group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  margin: 1.5rem 0;

  width: 100%;
}

.form_control {
  padding: 0.8rem;

  width: 100%;
  height: 4rem;

  color: color('neutral');

  border: 1px solid transparent;
  background-color: transparent;

  outline: none;
}

.form_control__textarea {
  border-color: currentColor;
  resize: none;
  min-height: 20rem;
}

.form_label {
  text-align: left;
  width: 100%;
  padding: 0.8rem 0;
}