@import './config/config';

.actions,
.intro {
  padding-top: 4rem;
}
.actions {
  display: grid;
  grid-auto-flow: row;
  gap:2rem;

  height: 100%;
}


@include media {
  .landing {
    @include grid12row2;
  }

  .header {
    grid-column: 3 / -3;
    grid-row: 1 / 2;
    justify-self: center;
  }
  .actions,
  .intro {
    padding: 4rem 2rem;
  }

  .intro{
    grid-row: 2 / -2;
    grid-column: 1 / 7;
    height: 100%;

  }
  .actions {
    grid-column: 8 / -1;
    grid-row: 2 / -2;
  }
}