@import './config/config';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;


  width: 100%;
  height: $nav-height;


  background-color: color('light-bg');


  .top {
    @include content(space-between, row);

    height: $nav-height;

    padding: 0 2rem;

  }

  .logo,
  .nav__menu_btn {
    width: 3rem;
    height: 3rem;
  }

  .nav__menu_btn {
    @include center;
    color: color('neutral');
    background-color: transparent;
    outline: none;

    padding: 0;
  }
}

.menu {
  @include grid(row, 0.8rem);
  padding: 2rem 0;
  background-color: color('light-bg');
}

.menu_btn {
  @include content(space-between, row);
  padding-right: 2rem;

  color: color('dark-text');
  background-color: color('neutral');

  span {
    @include center;
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
}

.menu_links {
  @include grid(row, 0.8rem);

}
.menu_link {
  display: flex;
  padding: 1.5rem;
}

.show_menu {
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.hide_menu {
  height: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.flip_up {
  transform: rotateZ(180deg)
}
.flip_down {
  transform: rotateZ(0deg)
}


@media screen and (min-width: 768px) {
  .nav,
  .menu {
    @include content(space-between, row);
  }

  .menu_link,
  .menu {
    padding: 0.2rem;
  }
  .menu_links {
    @include grid(column, 0.8rem);
  }
  .nav__menu_btn {
    display: none;
    opacity: 0;
    visibility: hidden;
    // pointer-events: none;
  }
}